@import "tailwindcss";

:root {
  --text-color:#B7E4C7;
  --button-color:#4eaa7c;
  --highlight-color:#52B788;

  /* dashboard color */ 
  /* background and input field background */

  --dashboard-bg:#fdfbf7
} 